<!DOCTYPE html>
<html ng-app='app'>
<head>
	<title>angular-html-editer</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <!--<link rel="stylesheet" type="text/css" href="../../css/animate.min.css">-->
    <link rel="stylesheet" href="../../plugin/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="service/service-mian.js"></script>
    <script type="text/javascript" src="directive/common.js"></script>
    <script type="text/javascript" src="directive/direct-main.js"></script>
</head>
<body>

    <div class="main" ng-controller="NewDireController">
        <div class="main-top">yunye editer top</div>
        <div class="main-body">
            <div class="editer-area">
                <div class="mb-eles" ng-repeat="ele in elems">
                    <!-- text element -->
                    <div move-ele class="eles-data ele-text" ng-if="ele.type=='text'" ele-data="ele" ng-click="actElement(ele)" ng-style="ele.style">{{ele.content}}</div>
                    <!-- image element -->
                    <div move-ele class="eles-data ele-image" ng-if="ele.type=='image'" ele-data="ele" ng-click="actElement(ele)" ng-style="ele.style">
                        <img ng-src="{{ele.src}}">
                    </div>
                    <!-- video element -->
                    <div move-ele class="eles-data ele-video" ng-if="ele.type=='video'" ele-data="ele" ng-click="actElement(ele)" ng-style="ele.style">
                        <img ng-src="{{ele.src}}">
                    </div>
                    <!-- svg element -->
                    <div move-ele class="eles-data ele-svg" ng-if="ele.type=='svg'" ele-data="ele" ng-click="actElement(ele)" ng-style="ele.style">{{ele.content}}</div>
                </div>
            </div>
        </div>
        <div class="main-left ">
            <div class="ml-list">
                <div class="ml-items" ng-repeat="ed in editFuncConfig" ng-click="addElement(ed)">
                    <i class="fa" ng-class="ed.icon"></i>
                </div>
            </div>
        </div>
        <div class="main-right">
            <div class="mr-list">
                <div class="edit-panel-item edit-panel-text" ng-show="showEditPanel == 'text'" eleset="actEle"></div>
                <div class="edit-panel-item edit-panel-image" ng-show="showEditPanel == 'image'" eleset="actEle"></div>
                <div class="edit-panel-item edit-panel-video" ng-show="showEditPanel == 'video'" eleset="actEle"></div>
                <div class="edit-panel-item edit-panel-music" ng-show="showEditPanel == 'music'" eleset="actEle"></div>
                <div class="edit-panel-item edit-panel-svg" ng-show="showEditPanel == 'svg'" eleset="actEle"></div>
                <div class="edit-panel-item edit-panel-new-page" ng-show="showEditPanel == 'new-page'" eleset="actEle"></div>
            </div>
        </div>

    </div>


	


</body>
</html>