// variables
/* color */
$blackBlue: #547ba4;
$actBlue: #4c9dff;
$actHoverBlue: #68a9f7;
$blueFont: #839fbe;
$grayBlue: #a5b8cc;

$pink: #ff6c60;
$hoverPink: #ec9182;
$tpink: #ecaca1;

$green: #4fdace;
$hoverGreen: #51e6da;

$yellow: #ffdd8c;

$dark: #333;
$midDark: #666;
$gray: #999;
$background: #e4e5ea;

$tipsGray: #bfc1c4;
$unactBtn: #d7d9df;
$borderGray: #e6e6e6;
$boldBorderGray: #ddd;
$whiteGray: #f2f2f2;

/* size */
$fontSize: 13px;
$space: 15px;
$iconSize: 18px;

// reset
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
blockquote,
tr,
th,
td,
span,
a,
header,
footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body {
  font-size: 14px;
  font-family: "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
  color: #333333;
}
li {
  list-style: none;
}
em,
i,
u {
  font-style: normal;
}
input {
  outline: none;
  border: none;
  box-shadow: 100px 100px 100px #fff inset;
  font-family: "Microsoft YaHei", Tahoma, Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
fieldset,
img {
  border: 0;
}
abbr {
  border: 0;
  font-variant: normal;
}
a {
  text-decoration: none;
  color: inherit;
  *color: #999999;
}
img {
  vertical-align: middle;
}

/* browse style */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $unactBtn;
}
::-webkit-scrollbar-corner {
  background: #fff;
}
::-webkit-scrollbar-resizer {
  background: transparent;
}

// chart
.report-chart {
  padding: 50px 20px;
  width: 900px;
  margin: 0 auto;
}
// exercise
.chart-exercise {
  .chart-map {
    width: 400px;
    height: 300px;
    float: left;
  }
  .chart-infos {
    margin-left: 500px;
    width: 350px;
  }
  .infos-detail {
    padding-right: 130px;
    height: 128px;
    background: url("/static/images/form_num_bg.png") no-repeat 100% 90%;
    text-align: right;
    p:nth-of-type(1) {
      height: 40px;
      line-height: 40px;
      font-size: 34px;
      color: $actBlue;
      i {
        font-size: 14px;
      }
    }
    p:nth-of-type(2) {
      line-height: 24px;
      font-size: 12px;
      color: $blackBlue;
      font-weight: 600;
    }
    p:nth-of-type(3) {
      margin-top: 10px;
      height: 30px;
      line-height: 30px;
      font-size: 24px;
      color: $actBlue;
    }
    p:nth-of-type(4) {
      line-height: 24px;
      font-size: 12px;
      color: $grayBlue;
    }
  }
  .infos-tips {
    height: 150px;
    margin-top: 20px;
    padding: 15px 20px;
    overflow: auto;
    color: $blackBlue;
    background: rgba(98, 160, 255, 0.15);
    p {
      height: 30px;
      line-height: 30px;
    }
    em {
      display: inline-block;
      vertical-align: middle;
      margin-top: -3px;
      margin-right: 5px;
      height: 10px;
      width: 10px;
      background-color: $actBlue;
    }
  }
}

// capacity
.chart-capacity {
  .chart-map {
    width: 450px;
    height: 350px;
    float: left;
  }
  .chart-infos {
    margin-left: 550px;
    min-height: 350px;
    width: 280px;
  }
  .infos-detail {
    padding-right: 130px;
    height: 120px;
    background: url("/static/images/form_num_bg.png") no-repeat 100% 90%;
    text-align: right;
    position: relative;

    .detail-cont {
      position: absolute;
      width: 150px;
      left: 0;
      bottom: 0;
    }

    p:nth-of-type(1) {
      height: 40px;
      line-height: 40px;
      font-size: 34px;
      color: $actBlue;
      i {
        font-size: 14px;
      }
    }
    p:nth-of-type(2) {
      margin-top: 6px;
      line-height: 18px;
      font-size: 12px;
      color: $blackBlue;
      font-weight: 600;
    }
  }
  .infos-tips {
    min-height: 120px;
    margin-top: 20px;
    padding: 15px 20px;
    overflow: auto;
    color: $blackBlue;
    background: rgba(98, 160, 255, 0.15);

    p {
      height: 30px;
      line-height: 30px;
    }
  }
}

// advance
.chart-advance {
  .chart-map {
    height: 368px;
  }
  .chart-table {
    margin-top: 30px;

    &-left {
      width: 140px;
      float: left;
    }
    &-right {
      margin-left: 140px;
      overflow-x: auto;
    }
  }
  table {
    width: 100%;
    text-align: center;
    color: $grayBlue;
  }
  th {
    background: rgba(98, 160, 255, 0.2);
    color: $blackBlue;
    border-radius: 5px;
    padding: 11px;
    line-height: 20px;
    letter-spacing: 1px;
    min-width: 80px;
  }
  td {
    min-width: 80px;
    padding: 11px;
    line-height: 20px;
    color: $blueFont;
  }
  tr:nth-of-type(even) {
    background: rgba(98, 160, 255, 0.2);
  }
}

// pos
.pos-chart {
  width: 900px;
  height: 400px;
}
